.orgSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 40px;
  font-weight: 400;
  color: #6278f7;
  padding: 0 0 24px 0;
  margin: 50px;
  border-bottom: 4px solid #6278f7;
}

.orgSection img {
  cursor: pointer;
}
